<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.ma1co.openmemories.tweak">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application android:label="@string/app_name" android:icon="@android:drawable/ic_menu_compass">
        <activity android:name=".MainActivity" android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".InfoActivity" android:theme="@style/BaseTheme" />
        <activity android:name=".VideoActivity" android:theme="@style/BaseTheme" />
        <activity android:name=".RegionActivity" android:theme="@style/BaseTheme" />
        <activity android:name=".ProtectionActivity" android:theme="@style/BaseTheme" />
        <activity android:name=".DeveloperActivity" android:theme="@style/BaseTheme" />

        <receiver android:name=".DisableWiFiOnSuspend">
            <intent-filter>
                <action android:name="com.android.server.SyncAndroidService.SUSPEND"/>
                <category android:name="com.android.server.SyncAndroidService.SUSPEND"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
